{% extends 'layout.html' %}
{% block carousel %} {% endblock %}
{% block content %}

    <div class="section margin-top_50">
        <div class="container">
            
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <div class="heading_main text_align_left">
                            <h2>{{ course.name }}</h2>
                            </div>
                            <div class="full">
                            <p>{{ course.desc }}</p>
                            </div>


                            
                        </div>
                    </div>
                
                </div>

                <ul>
                    {% for lesson in lessons %}
                        <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
                </ul>
           
        </div>
    </div>


{% endblock %}

